In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [15]:
jupyter_path=os.path.abspath('1-1-tehran apartment.ipynb')
the_path=os.path.join(os.path.dirname(jupyter_path),'csv_samples/tehran_house.csv')
df_origin=pd.read_csv(the_path)

In [17]:
df_origin

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3475,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3476,75,2,False,False,False,Parand,3.650000e+08,12166.67
3477,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3478,82,2,False,True,True,Parand,3.600000e+08,12000.00

In [18]:
# روش دوم بالا اوردن و دادن مسیر. 
# ولی حتما بک اسلش را درست کنی
df = pd.read_csv('E:/.python and every thing/files/csv files/tehran_house.csv')
df

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3475,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3476,75,2,False,False,False,Parand,3.650000e+08,12166.67
3477,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3478,82,2,False,True,True,Parand,3.600000e+08,12000.00

In [20]:
# روش سوم 
os.chdir("E:/.python and every thing/files/csv files/linear regration")
data = pd.read_csv("Fish.csv")
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [ ]:
# باز کردن فایل سی اس وی بدون ایندکس
df.read_csv(filename, index_col=False)  

# نوشتن فایل سی اس وی بدون ایندکس
df.to_csv(filename, index=False)


# ولی یه مساله اینه که خوب اگر ایندکس را توی نوشتن تعین کنی دیگه دفعه بعد هم توی خوندن با وجود اینکه فالس بدی بازهم یه ستون مینویسه به اسم  unnamed
# در اون صورت فرق نداره که ایندکس خوندن وجود داشته باشه یا نداشته باشه

In [4]:
# باز کردن فایل هایی که چند هدر دارند
df=pd.read_csv('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv')

df

# اینجا چند تا  هدر داره که میخوایم حذفشون کنیم  همه را به غیر از اولی را

                       model car    money          miles
0            2021 Toyota Corolla  $16,980   35,501 miles
1           2020 Hyundai Elantra  $14,500   73,440 miles
2               2016 Honda Civic   $9,950   93,881 miles
3                  2019 Ram 1500  $19,988  129,657 miles
4         2021 Chevrolet Equinox  $19,000   83,196 miles
5               2017 Ford Escape  $11,935   76,799 miles
6           2020 Hyundai Elantra  $15,995   84,375 miles
7          2021 Chevrolet Malibu  $19,818  145,841 miles
8                      model car    money          miles
9            2021 Toyota Corolla  $16,980   35,501 miles
10          2020 Hyundai Elantra  $14,500   73,440 miles
11              2016 Honda Civic   $9,950   93,881 miles
12                 2019 Ram 1500  $19,988  129,657 miles
13        2021 Chevrolet Equinox  $19,000   83,196 miles
14              2017 Ford Escape  $11,935   76,799 miles
15          2020 Hyundai Elantra  $15,995   84,375 miles
16         2021 Chevrolet Malibu  $19,818  145,841 miles
17                     model car    money          miles
18           2021 Toyota Corolla  $16,980   35,501 miles
19          2020 Hyundai Elantra  $14,500   73,440 miles
20               2019 Ford F-150  $29,998   93,881 miles
21                 2019 Ram 1500  $19,988  129,657 miles
22        2021 Chevrolet Equinox  $19,000   83,196 miles
23              2017 Ford Escape  $11,935   76,799 miles
24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [15]:
# این اسکیپ میاد سطر اول را رد میکنه
# یعنی هدر هم میشه سطر یکم
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv', skiprows=1)
df

# df = pd.read_table('yourfile.csv', header=None, delim_whitespace=True, skiprows=1)
# df.columns = ['0','POSITION_T','PROB','ID']
# del df['0']

# filtering out the rows with `POSITION_T` value in corresponding column
# df = df[df.POSITION_T.str.contains('POSITION_T') == False]

# print(df)

         2021 Toyota Corolla,"$16,980","35,501 miles"
0       2020 Hyundai Elantra,"$14,500","73,440 miles"
1            2016 Honda Civic,"$9,950","93,881 miles"
2             2019 Ram 1500,"$19,988","129,657 miles"
3     2021 Chevrolet Equinox,"$19,000","83,196 miles"
4           2017 Ford Escape,"$11,935","76,799 miles"
5       2020 Hyundai Elantra,"$15,995","84,375 miles"
6     2021 Chevrolet Malibu,"$19,818","145,841 miles"
7                               model car,money,miles
8        2021 Toyota Corolla,"$16,980","35,501 miles"
9       2020 Hyundai Elantra,"$14,500","73,440 miles"
10           2016 Honda Civic,"$9,950","93,881 miles"
11            2019 Ram 1500,"$19,988","129,657 miles"
12    2021 Chevrolet Equinox,"$19,000","83,196 miles"
13          2017 Ford Escape,"$11,935","76,799 miles"
14      2020 Hyundai Elantra,"$15,995","84,375 miles"
15    2021 Chevrolet Malibu,"$19,818","145,841 miles"
16                              model car,money,miles
17       2021 Toyota Corolla,"$16,980","35,501 miles"
18      2020 Hyundai Elantra,"$14,500","73,440 miles"
19           2019 Ford F-150,"$29,998","93,881 miles"
20            2019 Ram 1500,"$19,988","129,657 miles"
21    2021 Chevrolet Equinox,"$19,000","83,196 miles"
22          2017 Ford Escape,"$11,935","76,799 miles"
23  2021 Ram ProMaster Cargo Van,"$39,999","84,375...
24    2021 Chevrolet Malibu,"$19,818","145,841 miles"

In [13]:
# هدر اول را حذف میکنه  و به سطر1 تبدیل میکنش
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv',header=None)
df

                                                    0
0                               model car,money,miles
1        2021 Toyota Corolla,"$16,980","35,501 miles"
2       2020 Hyundai Elantra,"$14,500","73,440 miles"
3            2016 Honda Civic,"$9,950","93,881 miles"
4             2019 Ram 1500,"$19,988","129,657 miles"
5     2021 Chevrolet Equinox,"$19,000","83,196 miles"
6           2017 Ford Escape,"$11,935","76,799 miles"
7       2020 Hyundai Elantra,"$15,995","84,375 miles"
8     2021 Chevrolet Malibu,"$19,818","145,841 miles"
9                               model car,money,miles
10       2021 Toyota Corolla,"$16,980","35,501 miles"
11      2020 Hyundai Elantra,"$14,500","73,440 miles"
12           2016 Honda Civic,"$9,950","93,881 miles"
13            2019 Ram 1500,"$19,988","129,657 miles"
14    2021 Chevrolet Equinox,"$19,000","83,196 miles"
15          2017 Ford Escape,"$11,935","76,799 miles"
16      2020 Hyundai Elantra,"$15,995","84,375 miles"
17    2021 Chevrolet Malibu,"$19,818","145,841 miles"
18                              model car,money,miles
19       2021 Toyota Corolla,"$16,980","35,501 miles"
20      2020 Hyundai Elantra,"$14,500","73,440 miles"
21           2019 Ford F-150,"$29,998","93,881 miles"
22            2019 Ram 1500,"$19,988","129,657 miles"
23    2021 Chevrolet Equinox,"$19,000","83,196 miles"
24          2017 Ford Escape,"$11,935","76,799 miles"
25  2021 Ram ProMaster Cargo Van,"$39,999","84,375...
26    2021 Chevrolet Malibu,"$19,818","145,841 miles"

In [17]:
# این هدر را حذف میکنه ولی مثل حالت اول 0 میزاره و نمیاد سطر اول را هدر کنه 
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv', skiprows=1, header=None)
df

# df = pd.read_table('yourfile.csv', header=None, delim_whitespace=True, skiprows=1)

                                                    0
0        2021 Toyota Corolla,"$16,980","35,501 miles"
1       2020 Hyundai Elantra,"$14,500","73,440 miles"
2            2016 Honda Civic,"$9,950","93,881 miles"
3             2019 Ram 1500,"$19,988","129,657 miles"
4     2021 Chevrolet Equinox,"$19,000","83,196 miles"
5           2017 Ford Escape,"$11,935","76,799 miles"
6       2020 Hyundai Elantra,"$15,995","84,375 miles"
7     2021 Chevrolet Malibu,"$19,818","145,841 miles"
8                               model car,money,miles
9        2021 Toyota Corolla,"$16,980","35,501 miles"
10      2020 Hyundai Elantra,"$14,500","73,440 miles"
11           2016 Honda Civic,"$9,950","93,881 miles"
12            2019 Ram 1500,"$19,988","129,657 miles"
13    2021 Chevrolet Equinox,"$19,000","83,196 miles"
14          2017 Ford Escape,"$11,935","76,799 miles"
15      2020 Hyundai Elantra,"$15,995","84,375 miles"
16    2021 Chevrolet Malibu,"$19,818","145,841 miles"
17                              model car,money,miles
18       2021 Toyota Corolla,"$16,980","35,501 miles"
19      2020 Hyundai Elantra,"$14,500","73,440 miles"
20           2019 Ford F-150,"$29,998","93,881 miles"
21            2019 Ram 1500,"$19,988","129,657 miles"
22    2021 Chevrolet Equinox,"$19,000","83,196 miles"
23          2017 Ford Escape,"$11,935","76,799 miles"
24  2021 Ram ProMaster Cargo Van,"$39,999","84,375...
25    2021 Chevrolet Malibu,"$19,818","145,841 miles"

In [20]:
# اینجا هر چهار تا را یه دونه اورده و الان سه تا که اوردم قبول نمیکنه
df.columns
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv', skiprows=1, header=None)
df.columns = ['model car','money','miles']
# model car,money,miles
df

ValueError: Length mismatch: Expected axis has 1 elements, new values have 3 elements

In [21]:
# این منطبقش میکنه
# ولی مساله اینه که بقیه 3 تا هستند
df.columns
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv', skiprows=1, header=None)
df.columns = ['model car']
# model car,money,miles
df

                                            model car
0        2021 Toyota Corolla,"$16,980","35,501 miles"
1       2020 Hyundai Elantra,"$14,500","73,440 miles"
2            2016 Honda Civic,"$9,950","93,881 miles"
3             2019 Ram 1500,"$19,988","129,657 miles"
4     2021 Chevrolet Equinox,"$19,000","83,196 miles"
5           2017 Ford Escape,"$11,935","76,799 miles"
6       2020 Hyundai Elantra,"$15,995","84,375 miles"
7     2021 Chevrolet Malibu,"$19,818","145,841 miles"
8                               model car,money,miles
9        2021 Toyota Corolla,"$16,980","35,501 miles"
10      2020 Hyundai Elantra,"$14,500","73,440 miles"
11           2016 Honda Civic,"$9,950","93,881 miles"
12            2019 Ram 1500,"$19,988","129,657 miles"
13    2021 Chevrolet Equinox,"$19,000","83,196 miles"
14          2017 Ford Escape,"$11,935","76,799 miles"
15      2020 Hyundai Elantra,"$15,995","84,375 miles"
16    2021 Chevrolet Malibu,"$19,818","145,841 miles"
17                              model car,money,miles
18       2021 Toyota Corolla,"$16,980","35,501 miles"
19      2020 Hyundai Elantra,"$14,500","73,440 miles"
20           2019 Ford F-150,"$29,998","93,881 miles"
21            2019 Ram 1500,"$19,988","129,657 miles"
22    2021 Chevrolet Equinox,"$19,000","83,196 miles"
23          2017 Ford Escape,"$11,935","76,799 miles"
24  2021 Ram ProMaster Cargo Van,"$39,999","84,375...
25    2021 Chevrolet Malibu,"$19,818","145,841 miles"

In [23]:
# این چند تا ستون میکنه
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv', skiprows=1, header=None,delimiter=',')
df

                               0        1              2
0            2021 Toyota Corolla  $16,980   35,501 miles
1           2020 Hyundai Elantra  $14,500   73,440 miles
2               2016 Honda Civic   $9,950   93,881 miles
3                  2019 Ram 1500  $19,988  129,657 miles
4         2021 Chevrolet Equinox  $19,000   83,196 miles
5               2017 Ford Escape  $11,935   76,799 miles
6           2020 Hyundai Elantra  $15,995   84,375 miles
7          2021 Chevrolet Malibu  $19,818  145,841 miles
8                      model car    money          miles
9            2021 Toyota Corolla  $16,980   35,501 miles
10          2020 Hyundai Elantra  $14,500   73,440 miles
11              2016 Honda Civic   $9,950   93,881 miles
12                 2019 Ram 1500  $19,988  129,657 miles
13        2021 Chevrolet Equinox  $19,000   83,196 miles
14              2017 Ford Escape  $11,935   76,799 miles
15          2020 Hyundai Elantra  $15,995   84,375 miles
16         2021 Chevrolet Malibu  $19,818  145,841 miles
17                     model car    money          miles
18           2021 Toyota Corolla  $16,980   35,501 miles
19          2020 Hyundai Elantra  $14,500   73,440 miles
20               2019 Ford F-150  $29,998   93,881 miles
21                 2019 Ram 1500  $19,988  129,657 miles
22        2021 Chevrolet Equinox  $19,000   83,196 miles
23              2017 Ford Escape  $11,935   76,799 miles
24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [24]:
# این درست شد
df.columns
df = pd.read_table('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv', skiprows=1, header=None,delimiter=',')
df.columns = ['model car','money','miles']
# model car,money,miles
df

# ایا میشه اون سال ستون ها را تبدیل کرد ؟

                       model car    money          miles
0            2021 Toyota Corolla  $16,980   35,501 miles
1           2020 Hyundai Elantra  $14,500   73,440 miles
2               2016 Honda Civic   $9,950   93,881 miles
3                  2019 Ram 1500  $19,988  129,657 miles
4         2021 Chevrolet Equinox  $19,000   83,196 miles
5               2017 Ford Escape  $11,935   76,799 miles
6           2020 Hyundai Elantra  $15,995   84,375 miles
7          2021 Chevrolet Malibu  $19,818  145,841 miles
8                      model car    money          miles
9            2021 Toyota Corolla  $16,980   35,501 miles
10          2020 Hyundai Elantra  $14,500   73,440 miles
11              2016 Honda Civic   $9,950   93,881 miles
12                 2019 Ram 1500  $19,988  129,657 miles
13        2021 Chevrolet Equinox  $19,000   83,196 miles
14              2017 Ford Escape  $11,935   76,799 miles
15          2020 Hyundai Elantra  $15,995   84,375 miles
16         2021 Chevrolet Malibu  $19,818  145,841 miles
17                     model car    money          miles
18           2021 Toyota Corolla  $16,980   35,501 miles
19          2020 Hyundai Elantra  $14,500   73,440 miles
20               2019 Ford F-150  $29,998   93,881 miles
21                 2019 Ram 1500  $19,988  129,657 miles
22        2021 Chevrolet Equinox  $19,000   83,196 miles
23              2017 Ford Escape  $11,935   76,799 miles
24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [34]:
# اسم ستون هایی که با اسئیس از هم جدا شدند را اینجوری میشه با اندرلاین درست کرد
df.columns

Index(['model_car', 'money', 'miles'], dtype='object')

In [32]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [33]:
df.columns

Index(['model_car', 'money', 'miles'], dtype='object')

In [37]:
# این همه سطر هایی که هدر داشتند را حذف میکنه
df = df[df.model_car.str.contains('model car') == False]
df

# اما ایا نیاز بود که اصلا اسکیپ رو و.. را زد؟

                       model_car    money          miles
0            2021 Toyota Corolla  $16,980   35,501 miles
1           2020 Hyundai Elantra  $14,500   73,440 miles
2               2016 Honda Civic   $9,950   93,881 miles
3                  2019 Ram 1500  $19,988  129,657 miles
4         2021 Chevrolet Equinox  $19,000   83,196 miles
5               2017 Ford Escape  $11,935   76,799 miles
6           2020 Hyundai Elantra  $15,995   84,375 miles
7          2021 Chevrolet Malibu  $19,818  145,841 miles
9            2021 Toyota Corolla  $16,980   35,501 miles
10          2020 Hyundai Elantra  $14,500   73,440 miles
11              2016 Honda Civic   $9,950   93,881 miles
12                 2019 Ram 1500  $19,988  129,657 miles
13        2021 Chevrolet Equinox  $19,000   83,196 miles
14              2017 Ford Escape  $11,935   76,799 miles
15          2020 Hyundai Elantra  $15,995   84,375 miles
16         2021 Chevrolet Malibu  $19,818  145,841 miles
18           2021 Toyota Corolla  $16,980   35,501 miles
19          2020 Hyundai Elantra  $14,500   73,440 miles
20               2019 Ford F-150  $29,998   93,881 miles
21                 2019 Ram 1500  $19,988  129,657 miles
22        2021 Chevrolet Equinox  $19,000   83,196 miles
23              2017 Ford Escape  $11,935   76,799 miles
24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [41]:

# اینم اومد همون کار را کرد بدون اینکه هدر را برداری و واسش جدا هدر تعریف کنی و...
df1=pd.read_csv('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv',delimiter=',')
df1
df1.columns=[c.replace(' ','_') for c in df1.columns]
# df.columns
df1=df1[df1.model_car.str.contains('model car')==False]
df1

                       model_car    money          miles
0            2021 Toyota Corolla  $16,980   35,501 miles
1           2020 Hyundai Elantra  $14,500   73,440 miles
2               2016 Honda Civic   $9,950   93,881 miles
3                  2019 Ram 1500  $19,988  129,657 miles
4         2021 Chevrolet Equinox  $19,000   83,196 miles
5               2017 Ford Escape  $11,935   76,799 miles
6           2020 Hyundai Elantra  $15,995   84,375 miles
7          2021 Chevrolet Malibu  $19,818  145,841 miles
9            2021 Toyota Corolla  $16,980   35,501 miles
10          2020 Hyundai Elantra  $14,500   73,440 miles
11              2016 Honda Civic   $9,950   93,881 miles
12                 2019 Ram 1500  $19,988  129,657 miles
13        2021 Chevrolet Equinox  $19,000   83,196 miles
14              2017 Ford Escape  $11,935   76,799 miles
15          2020 Hyundai Elantra  $15,995   84,375 miles
16         2021 Chevrolet Malibu  $19,818  145,841 miles
18           2021 Toyota Corolla  $16,980   35,501 miles
19          2020 Hyundai Elantra  $14,500   73,440 miles
20               2019 Ford F-150  $29,998   93,881 miles
21                 2019 Ram 1500  $19,988  129,657 miles
22        2021 Chevrolet Equinox  $19,000   83,196 miles
23              2017 Ford Escape  $11,935   76,799 miles
24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [42]:
df1=pd.read_csv('E:/.python and every thing/files/csv files/car-truecat/car_kharegi8.csv',delimiter=',')
df1
df1.columns=[c.replace(' ','_') for c in df1.columns]
# df.columns
df1=df1[df1.money.str.contains('money')==False]
df1


# حالا این روش ایندکس های قبلی را حذف میکنه

                       model_car    money          miles
0            2021 Toyota Corolla  $16,980   35,501 miles
1           2020 Hyundai Elantra  $14,500   73,440 miles
2               2016 Honda Civic   $9,950   93,881 miles
3                  2019 Ram 1500  $19,988  129,657 miles
4         2021 Chevrolet Equinox  $19,000   83,196 miles
5               2017 Ford Escape  $11,935   76,799 miles
6           2020 Hyundai Elantra  $15,995   84,375 miles
7          2021 Chevrolet Malibu  $19,818  145,841 miles
9            2021 Toyota Corolla  $16,980   35,501 miles
10          2020 Hyundai Elantra  $14,500   73,440 miles
11              2016 Honda Civic   $9,950   93,881 miles
12                 2019 Ram 1500  $19,988  129,657 miles
13        2021 Chevrolet Equinox  $19,000   83,196 miles
14              2017 Ford Escape  $11,935   76,799 miles
15          2020 Hyundai Elantra  $15,995   84,375 miles
16         2021 Chevrolet Malibu  $19,818  145,841 miles
18           2021 Toyota Corolla  $16,980   35,501 miles
19          2020 Hyundai Elantra  $14,500   73,440 miles
20               2019 Ford F-150  $29,998   93,881 miles
21                 2019 Ram 1500  $19,988  129,657 miles
22        2021 Chevrolet Equinox  $19,000   83,196 miles
23              2017 Ford Escape  $11,935   76,799 miles
24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [43]:
# ایندکس ها را ریست میکنیم
df1 = df1.reset_index()
df1

    index                     model_car    money          miles
0       0           2021 Toyota Corolla  $16,980   35,501 miles
1       1          2020 Hyundai Elantra  $14,500   73,440 miles
2       2              2016 Honda Civic   $9,950   93,881 miles
3       3                 2019 Ram 1500  $19,988  129,657 miles
4       4        2021 Chevrolet Equinox  $19,000   83,196 miles
5       5              2017 Ford Escape  $11,935   76,799 miles
6       6          2020 Hyundai Elantra  $15,995   84,375 miles
7       7         2021 Chevrolet Malibu  $19,818  145,841 miles
8       9           2021 Toyota Corolla  $16,980   35,501 miles
9      10          2020 Hyundai Elantra  $14,500   73,440 miles
10     11              2016 Honda Civic   $9,950   93,881 miles
11     12                 2019 Ram 1500  $19,988  129,657 miles
12     13        2021 Chevrolet Equinox  $19,000   83,196 miles
13     14              2017 Ford Escape  $11,935   76,799 miles
14     15          2020 Hyundai Elantra  $15,995   84,375 miles
15     16         2021 Chevrolet Malibu  $19,818  145,841 miles
16     18           2021 Toyota Corolla  $16,980   35,501 miles
17     19          2020 Hyundai Elantra  $14,500   73,440 miles
18     20               2019 Ford F-150  $29,998   93,881 miles
19     21                 2019 Ram 1500  $19,988  129,657 miles
20     22        2021 Chevrolet Equinox  $19,000   83,196 miles
21     23              2017 Ford Escape  $11,935   76,799 miles
22     24  2021 Ram ProMaster Cargo Van  $39,999   84,375 miles
23     25         2021 Chevrolet Malibu  $19,818  145,841 miles

In [52]:
# ایندکسشونو بالا نیاوردم
df1=pd.read_csv('E:/.python and every thing/files/csv files/car-truecat/car_kharegi12.csv',delimiter=',',index_col=None)
df1

      index             model car    money          miles
0         0    2020 Nissan Sentra  $18,995  107,319 miles
1         1    2015 Dodge Charger  $18,946   24,744 miles
2         2     2015 BMW 3 Series  $17,700   69,925 miles
3         3  2014 MINI Countryman  $12,997   13,605 miles
4         4    2021 Ford Explorer  $33,991  123,460 miles
...     ...                   ...      ...            ...
3187   3585   2012 Subaru Tribeca   $8,999   24,744 miles
3188   3586      2013 Honda Civic  $13,799   25,134 miles
3189   3587     2021 Ford Mustang  $25,998   55,257 miles
3190   3588   2018 Hyundai Sonata  $14,898   98,078 miles
3191   3589    2017 Toyota Tacoma  $15,995  123,460 miles

[3192 rows x 4 columns]

In [54]:
df1=pd.read_csv('E:/.python and every thing/files/csv files/car-truecat/car_kharegi12.csv',delimiter=',',index_col=0)
df1

                  model car    money          miles
index
0        2020 Nissan Sentra  $18,995  107,319 miles
1        2015 Dodge Charger  $18,946   24,744 miles
2         2015 BMW 3 Series  $17,700   69,925 miles
3      2014 MINI Countryman  $12,997   13,605 miles
4        2021 Ford Explorer  $33,991  123,460 miles
...                     ...      ...            ...
3585    2012 Subaru Tribeca   $8,999   24,744 miles
3586       2013 Honda Civic  $13,799   25,134 miles
3587      2021 Ford Mustang  $25,998   55,257 miles
3588    2018 Hyundai Sonata  $14,898   98,078 miles
3589     2017 Toyota Tacoma  $15,995  123,460 miles

[3192 rows x 3 columns]